body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}


.FooterLink {
    color: #cfcfcfd3;
    &:hover {
        color: white;
    }

}
.flexed {
    display: flex;
}
.transed {
    transition: all 0.2s ease;
    &:hover {
        background: #e7e7e7;
    }
}
.appbar {
    position: -webkit-sticky;
}
.ScrollToTopButton {
    button {

        position: fixed;
        z-index: 2512512512;
        color: white;
        bottom: 0;
        right: 0;
        margin: 25px;
        background: #000000ad;
        &:hover {
            background: #000000ad;
        }
    }
}
.Alink {
    text-decoration: none;
    padding: 14px 2px;
    font-size: 19px;
    margin: 0 15px 0 0;
    transition: all 0.15s ease;
    border-bottom: 2px solid transparent;
    color: black;
    &:hover {
        border-bottom: 2px solid black;
    }
}
.link,
a {
    color: black;
    text-decoration: none;
}
.logo {
    position: absolute;
    a {

        // color: #1c51e6;
        p {
            font-weight: 500;

        }
    }
}
.blue {
    color: #1c51e6;
}
.searchForm {

    border-radius: 17px;
    .searchInput {
        border-radius: 17px;
        border: none;
        background: #f1f1f1;
        padding: 10px 12px;
        outline: none;
        font-size: 1rem;

    }
}
.searchForm2 {
    border-radius: 4px;
    // border: 1px solid #8080803b;
    .wfull {
        width: 100%;
    }
    .searchInput {

        border: 1px solid #8080803b;
        background: transparent;
        padding: 10px 12px;
        outline: none;
        font-size: 1rem;
        background: white;
        border-radius: 4px;
        &:focus {
            border: 1px solid #1976d26e;
            box-shadow: 1px 1px 5px #0b75df54;

        }
        input {
            background: transparent;
            &:focus {
                border: 1px solid #1976d26e;

            }

        }
    }
}

.landing {
    background-image: url('../Helpers/Images/suit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: 1;
    .backdrop {
        height: 100%;
        background: #000000d3;
        width: 100%;
        position: absolute;
        z-index: -1;
        bottom: 0;
    }
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img2 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.textHidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.textLimit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.swiper  {
    width: 100%;
}
.swiperSlideCard {
    width: 453px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.customImg {
    width: 80%;
    height: 100%;
    object-fit: cover;
}
.linkz {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}
.trans {
    transition: 0.3s ease;

}
.px5 {
    padding: 0 5px;
    text-decoration: underline;
}
.swiper-button-disabled,
.swiper-button-next,
.swiper-button-prev {
    background: white;
    padding: 5px;
    color: black;
}
.ul {
    li {
        font-weight: 300;
    }
}
.m0 {
    margin: 0;
}
.normalButton {
    outline: none;
    border: none;
    background: transparent;
}


@media (min-width: 1305px) {
    .limit {
        width: 1200px;
        margin: 0 auto;
    }

}
